*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    height: 100vh;
}

.wrapper{
    width: 100%;
    height: 100%;
}


section{
    width: 100%;
}

@import "Tablets";
#section-one {
  @media (max-width: 576px) {
    #erenn {
      height: 50%;
      width: 50%;
      // display: none;
    }

    .span-one {
      font-size: 2em;
    }

    .notes {
      left: 50%;
      top: 75%;
      height: auto;
      width: auto;
    }
    .notes2 {
      left: 50%;
      top: 85%;
      width: 40%;
      // width: auto;
      height: 10%;
      border-radius: 15%;
    }

    #section-one-part2 .btn {
      // background-color: red;
      display: inline-block;
    }

    .notes3 {
      display: none;
    }
  }
}

// #titan {
//     display: none;
// }

.notes {
  position: absolute;
  left: 75%;
  top: 35%;
  background-color: white;
  border-radius: 10px;
  width: 15%;
  font-weight: bold;
  padding: 10px;
  padding-left: 25px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#first-note-part1 {
  padding-top: 5px;
  display: inline-block;
}
#first-note-part2 {
  width: 50%;
  display: inline-block;
  line-height: 0.7em;
  padding-left: 10px;
}

.notes2 {
  position: absolute;
  left: 45%;
  top: 65%;
  width: 15%;
  height: 15%;
  border-radius: 15%;
}

.notes3 {
  position: absolute;
  left: 80%;
  top: 20%;
  width: 6%;
  height: 6%;
}

// SECTION TWO

#section-two {
  @media (max-width: 576px) {
    #second-section-image {
      height: auto;
      width: auto;
      right: 0;
      bottom: 0;
    }
    #second-section-part2 {
      h1 {
        font-size: 20px;
      }
      h6 {
        font-size: 12px;
      }
    }

    .eren-box {
      background-color: #fce9e9;
      width: 100%;
      height: 86.5%;
      margin: 60px;
      //    margin-left: 150px;
      margin-top: 50px;
    }
    .third-note {
      left: 15%;
      top: 108%;
      padding: 5px;
      border-radius: 2px;
      width: 35%;

      /* height: 10%; */
    }
  }
}

.eren-box {
  background-color: #fce9e9;
  width: 60%;
  height: 83%;
  margin: 60px;
  margin-left: 150px;
  margin-top: 50px;
}

#second-section-image {
  position: absolute;
  height: 130%;
  right: 33.5%;
  bottom: 9.5px;
}

#second-section-part2 {
  margin-left: 22%;
  margin-top: 10%;
  h6 {
    color: grey;
    font-size: 15px;
  }
}

.third-note {
  position: absolute;
  left: 35%;
  top: 60%;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  width: 15%;
}

#third-note-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;
}

#third-note-image {
  height: 100%;
  background-color: #ffb804;
  position: relative;
  left: -6px;
}

#third-note-part2 {
  width: 50%;
  display: inline-block;
  line-height: 0em;
  padding-left: 10px;
  padding-right: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

// THIRD SECTION
#section-three {
  @media (max-width: 576px) {
    #all-services {
      width: 45%;
    }
  }
}

.card-style {
  width: 70%;
  border: none;
}

#all-services {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6%;
}

.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 15%;
  padding-top: 5%;

  @media (max-width: 992px) {
    width: 35%;
    height: 35%;
  }
}

.icons-four {
  display: block;
  margin-left: 20%;
  margin-right: auto;
  padding-top: 22%;
  width: 70%;
  height: 70%;
}

.icons-five {
  width: 15%;
  height: 15%;
  padding-top: 5%;
  margin: 5px;
  margin-bottom: 12px;
}

.icons-last {
  width: 18%;
  height: 17%;
  margin-bottom: 15px;
}

#signing {
  width: 85%;
  height: 85%;
  display: block;
  margin-left: 0%;
}

.small-icon {
  width: 0.7%;
  height: 25%;
  margin: 5px;
}

.clock-icon {
  width: 6.5%;
  height: 6.5%;
  filter: contrast(10%);
}

#read-btn {
  max-width: 20%;
  margin-left: 40%;
  margin-bottom: 100px;

  @media (max-width: 576px) {
    max-width: 25%;
  }
}

.get-started {
  color: #1e90ff;
  margin-bottom: 65px;
}
